@import "../node_modules/bootstrap/scss/bootstrap.scss";

.page {
  display: block;
  position: relative;
  background-color: #4052d6;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.card {
  background-color: #00008a;
  .card-header {
    padding: 1rem;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  .card-body {
    padding: 1rem;
    color: #fff;
  }
}

.nav-tabs {
  border: none;
  .nav-link:hover {
    border: none;
  }
}
