.border-left {
  border-left: 1px solid #2e2e89 !important;
}

.border-right {
  border-right: 1px solid #2e2e89 !important;
}

.border-top {
  border-top: 1px solid #2e2e89 !important;
}

.border-bottom {
  border-bottom: 1px solid #2e2e89 !important;
}

.mnh-100 {
  min-height: 100%;
}
