svg {
  width: 14px;
  height: 14px;
  fill: #fff;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid #2e2e89;
  opacity: 1;
}

label {
  margin-left: 0.4rem;
}

strong {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 4px;
  background-color: #161686;
}

::-webkit-scrollbar-thumb {
  background: #07075a;
  border-radius: 3px;
}
